@import "tailwindcss";

@layer base {
  body {
    @apply bg-white text-gray-900;
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
  }
}

/* Custom Dark Scrollbar */
.scrollbar-thin::-webkit-scrollbar {
  width: 6px;
}

.scrollbar-thin::-webkit-scrollbar-track {
  background: #1f2937; /* gray-800 */
}

.scrollbar-thin::-webkit-scrollbar-thumb {
  background-color: #4b5563; /* gray-600 */
  border-radius: 6px;
}

.scrollbar-thin {
  scrollbar-color: #4b5563 #1f2937; /* thumb and track for Firefox */
  scrollbar-width: thin;
}

/* Hide scrollbar for all browsers */
.no-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

